In [ ]:
# Warning Disable! Ignore!!!

import warnings
warnings.filterwarnings('ignore')

# Introduction to Myself

Hello one and all, my name is Pramika Garg. I was born in Amritsar, Punjab. I attended Chittagong Grammar School for my schooling and I got into McMaster University in their Life Sciences program for my Bachelor's. After my first year, COVID hit and caused financial issues within my family and I had to drop my degree and was mostly coerced into taking up CS at my current university, VIT. Since I didn't have a CS background, I was highly intimidated by what was lying ahead of me. I started working with a community and got the motivation to get on with tech and it has been a great journey so far. 

One of the ideologies that I follow prominently is that I believe in always improving and becoming the best version of myself. I want to recognize myself as someone with a progressive attitude who does her best and gives 100% to attain goals. A major strength of mine is that when I get motivated (generally by external factors) then I am able to go with full force in whatever I’m pursuing which happens to be technology. On the contrary, one of my weaknesses is that I end up being extremely nervous, and hence scared to take on new challenges. Both of these played a role in my journey in exploring tech. The initial starting point was hard and I was scared but now I believe that I am making progress and continuing to grow regularly. Currently, I’m a part of technical and research projects under different organizations and professor’s on campus. I founded a research-oriented startup a few months back to help students like me explore academia and research in a more accessible manner. I have been a part of programs by BCG, Citi, Microsoft, and Goldman Sachs which helped me gain insights into the financial markets, business development, and exploring technology. I am continuing to work towards growing my knowledge and skill set in the field while exploring a diverse range of different technologies.

Other than my technical journey, I’m an active volunteer and work on social causes such as Red Ribbon Club, Lives for Literacy, etc. I like to help others especially women just starting in technology hosting, “Hack-the-hackathon” and bringing on prominent women in technology onto the “InspiHER” platform. I also pursue some of my hobbies such as my coin collection and producing karaoke videos when I get some time off.

I joined Microsoft as a Learn Student Ambassador in the July 2021 cohort and was soon promoted to an Alpha Learn Student Ambassador. Today, I'm taking my first event as a Micrsoft Learn Student Ambassador on "Diving into Data Science: Exploring Pandas".

# First Steps

- Download Anaconda https://anaconda.org/
- Install Anaconda
- Open Anaconda & Start a New Jupyter Notebook

# Introduction to Pandas

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

So I hope that all of you have already acquainted yourself with and explored NumPy, it is time to get to know the other workhorse of data science in Python: pandas. The pandas library in Python really does a lot to make working with data--and importing, cleaning, and organizing it--so much easier that it is hard to imagine doing data science in Python without it.

But it was not always this way. Wes McKinney developed the library out of necessity in 2008 while at AQR Capital Management in order to have a better tool for dealing with data analysis. The library has since taken off as an open-source software project that has become a mature and integral part of the data science ecosystem. (In fact, some examples in this section will be drawn from McKinney's book, *Python for Data Analysis*.)

The name 'pandas' actually has nothing to do with Chinese bears but rather comes from the term *panel data*, a form of multi-dimensional data involving measurements over time that comes out the econometrics and statistics community. Ironically, while panel data is a usable data structure in pandas, it is not generally used today and I will not examine it in this course. Instead, I will focus on the two most widely used data structures in pandas: `Series` and `DataFrame`s.

## Reminders about importing and documentation

Just as you imported NumPy undwither the alias ``np``, I will import Pandas under the alias ``pd``:

As with the NumPy convention, `pd` is an important and widely used convention in the data science world; I will use it here and I will advise you to use it in your own coding.

As we progress through this event, don't forget that IPython provides tab-completion feature and function documentation with the ``?`` character. If you don't understand anything about a function you see in this section, take a moment and read the documentation; it can help a great deal. As a reminder, to display the built-in pandas documentation, use this code:

In [2]:
import pandas as pd
pd?

In [3]:
import numpy as np

The most important object defined in NumPy is an N-dimensional array type called `ndarray`. It describes the collection of items of the same type. Items in the collection can be accessed using a zero-based index.

Because it can be useful to lean about `Series` and `DataFrame`s in pandas as an extension of `ndarray`s in NumPy, we can go ahead also import NumPy. We will want it for some of the examples later on.

Now, let's get on to exploring pandas!

## Basic Pandas Data Structures

Both `Series` and `DataFrame`s are a lot like they `ndarray`s provided in NumPy. They provide a clean, efficent data storage and handling at the scales necessary for data science. What both of them provide that `ndarray`s lack, however, are essential data-science features like flexibility when dealing with missing data and the ability to label data. These capabilities (along with others) help make `Series` and `DataFrame`s essential to the "data munging" that make up so much of data science.

Let's first start off by exploring Series!

### `Series`!

A pandas `Series` is a lot like an `ndarray` in NumPy: a one-dimensional array of indexed data.
You can create a simple Series from an array of data like this:

(We take a variable `s1` and use the `pd` alias, calling the Series() function and passing in a list of numbers. Then we print it by justing putting the variable name, which is one of the ways IPython works)

In [4]:
s1 = pd.Series([-0.5, 0.75, 1.0, -2])
s1

0   -0.50
1    0.75
2    1.00
3   -2.00
dtype: float64

Similar to how an `ndarray` works in NumPy, a `Series` upcasts entries to be of the same type of data (that `-2` integer data type in the original array became a `-2.00` float data type in the `Series`). So basically to ensure that no data is lost while all values have the same data type, Pandas automatically converts the data type to the highest precision data type included in the list.

What is different from an `ndarray` is that the ``Series`` automatically wraps both a sequence of values and a sequence of indices. These are two separate objects within the `Seriers` object that can access with the ``values`` and ``index`` attributes.

Try accessing the ``values`` first; they are just a familiar NumPy array:

In [5]:
s1.values

array([-0.5 ,  0.75,  1.  , -2.  ])

Similarly, the ``index`` is also an array-like object:

It gives us the start, the stop and the step distance of the index. A key point here to take note of is that the start is inclusive by stop is not. So the indices will include 0 but not include 4.

In [6]:
s1.index

RangeIndex(start=0, stop=4, step=1)

Just as with `ndarray`s, you can access specific data elements in a `Series` via the familiar Python square-bracket index notation and slicing:

In [7]:
s1[1]

0.75

In [8]:
s1[1:3]

1    0.75
2    1.00
dtype: float64

Despite a lot of similarities, pandas `Series` have an important distinction from NumPy `ndarrays`: whereas `ndarrays` have  *implicitly defined* integer indices (as do Python lists), pandas `Series` have *explicitly defined* indices. The best part is that you can set the index. This allows you to have a custom index using whatever data type you wish.

In [9]:
s2 = pd.Series([-0.5, 0.75, 1.0, -2], index=['a', 'b', 'c', 'd'])
s2

a   -0.50
b    0.75
c    1.00
d   -2.00
dtype: float64

### Explicit Indices in Series:

With a single index, explicit indices work exactly the way you would expect them to:

(It gives the same value as `s1[1]`.

In [10]:
s2['b']

0.75

#### Exercise:

In [11]:
# Do explicit Series indices work *exactly* the way you might expect?
# Try slicing s2 using its explicit index and find out.
s2['b':'d']

b    0.75
c    1.00
d   -2.00
dtype: float64

Here, we can see the difference, as `s2['b':'d']` includes the value of the last index which we can confirm below by checking the index of this Series.

In [12]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

With explicit indices in the mix, a `Series` is basically a fixed-length, ordered dictionary in that it maps arbitrary typed index values to arbitrary typed data values. But like `ndarray`s these data are all of the same type, which is important. Just as the type-specific compiled code behind `ndarray` makes them more efficient than a Python lists for certain operations, the type information of pandas ``Series`` makes them much more efficient than Python dictionaries for certain operations.

But the connection between `Series` and dictionaries is nevertheless very real: you can construct a ``Series`` object directly from a Python dictionary:

(Here, we define a population dictionary for countries and now we converted it directly into a series.

In [13]:
popd = {'France': 65429495,
        'Germany': 82408706,
        'Russia': 143910127,
        'Japan': 126922333}
pops = pd.Series(popd)
pops

France      65429495
Germany     82408706
Russia     143910127
Japan      126922333
dtype: int64

Did you see what happened there? The order of the keys `Russia` and `Japan` in the switched places between the order in which they were entered in `popd` and how they ended up in the `pops` `Series` object. While Python dictionary keys have no order, `Series` keys are ordered.

So, at one level, you can interact with `Series` as you would with dictionaries:

(Getting the value at index `Russia` from the Series `pops`

In [14]:
pops['Russia']

143910127

But you can also do powerful array-like operations with `Series` like slicing:

In [15]:
# Try slicing on the population Series on your own.

pops['France':'Russia']

France      65429495
Germany     82408706
Russia     143910127
dtype: int64

Q) Would slicing be possible if Series keys were not ordered? 

A) No, it would not be possible, as slice would not know what lies where.

You can also add elements to a `Series` the way that you would to an `ndarray`, by adding a new value to a new index.

In [16]:
# Try running pops['Albania'] = 2937590 (or another country of your choice)
pops['Albania'] = 2937590
pops

France      65429495
Germany     82408706
Russia     143910127
Japan      126922333
Albania      2937590
dtype: int64

Q) What order do the keys appear in when you run population? Is it what you expected?

A) The order is not sorted and the new key / index is added to the bottom of the Series.

Another useful `Series` feature (and definitely a difference from dictionaries) is that `Series` automatically aligns differently indexed data in arithmetic operations:

In [17]:
pop2 = pd.Series({'Spain': 46432074, 'France': 102321, 'Albania': 50532})
pops + pop2

Albania     2988122.0
France     65531816.0
Germany           NaN
Japan             NaN
Russia            NaN
Spain             NaN
dtype: float64

Notice that in the case of Germany, Japan, Russia, and Spain (and Albania, depending on what you did in the previous exercise), the addition operation produced `NaN` (not a number) values. pandas does not treat missing values as `0`, but as `NaN` (and it can be helpful to think of arithmetic operations involving `NaN` as essentially `NaN`$ + x=$ `NaN`, where 'x' is any number. That's why we got `NaN` in the above code cell.

Here, `NaN` for those unaware stands for "Not a Number".

### `DataFrame`!

The other crucial data structure in pandas to get to know for data science is the `DataFrame`.
Like the ``Series`` object, ``DataFrame``s can be thought of either as generalizations of `ndarray`s (or as specializations of Python dictionaries).

Just as a ``Series`` is like a one-dimensional array with flexible indices, a ``DataFrame`` is basically like a two-dimensional array with both flexible row indices and flexible column names. Essentially, a `DataFrame` represents a rectangular table of data and contains an ordered collection of labeled columns, each of which can be a different value type (`string`, `int`, `float`, etc.).
The DataFrame has both a row and column index; in this way you can think of it as a dictionary of `Series`, all of which share the same index.

Let's take a look at how this works in practice. We will start by creating a `Series` called `areas`:

In [18]:
aread = {'Albania': 28748,
         'France': 643801,
         'Germany': 357386,
         'Japan': 377972,
         'Russia': 17125200}
areas = pd.Series(aread)
areas

Albania       28748
France       643801
Germany      357386
Japan        377972
Russia     17125200
dtype: int64

Now you can combine this with the `pops` `Series` you created earlier by using a dictionary to construct a single two-dimensional table containing data from both `Series`:

In [19]:
countries = pd.DataFrame({'Population': pops, 'Area': areas})
countries

         Population      Area
Albania     2937590     28748
France     65429495    643801
Germany    82408706    357386
Japan     126922333    377972
Russia    143910127  17125200

As with `Series`, note that `DataFrame`s also automatically order indices (in this case, the column indices `Area` and `Population`).

So far we have combined dictionaries together to compose a `DataFrame` (which has given our `DataFrame` a row-centric feel), but you can also create `DataFrame`s in a column-wise fashion. Let's add a `Capital` column using a list similar to how we created a new key value pair in Series:

In [20]:
countries['Capital'] = ['Tirana', 'Paris', 'Berlin', 'Tokyo', 'Moscow']
countries

         Population      Area Capital
Albania     2937590     28748  Tirana
France     65429495    643801   Paris
Germany    82408706    357386  Berlin
Japan     126922333    377972   Tokyo
Russia    143910127  17125200  Moscow

As with `Series`, even though initial indices are ordered in `DataFrame`s, subsequent additions to a `DataFrame` stay in the ordered added. However, you can explicitly change the order of `DataFrame` column indices this way:

In [21]:
countries = countries[['Capital', 'Area', 'Population']]
countries

        Capital      Area  Population
Albania  Tirana     28748     2937590
France    Paris    643801    65429495
Germany  Berlin    357386    82408706
Japan     Tokyo    377972   126922333
Russia   Moscow  17125200   143910127

Commonly in a data science context, it is necessary to generate new columns of data from existing data sets. Because `DataFrame` columns behave like `Series`, you can do this is by performing operations on them as you would with `Series`:

In [22]:
countries['Population Density'] = countries['Population'] / countries['Area']
countries

        Capital      Area  Population  Population Density
Albania  Tirana     28748     2937590          102.184152
France    Paris    643801    65429495          101.629999
Germany  Berlin    357386    82408706          230.587393
Japan     Tokyo    377972   126922333          335.798242
Russia   Moscow  17125200   143910127            8.403413

We have stated before that `DataFrame`s are like dictionaries, and it's true. You can retrieve the contents of a column just as you would the value for a specific key in an ordinary dictionary:

In [23]:
countries['Area']

Albania       28748
France       643801
Germany      357386
Japan        377972
Russia     17125200
Name: Area, dtype: int64

What about using the row indices?

In [25]:
# Now try accessing row data with a command like countries['Japan']
countries['Albania']

KeyError: 'Albania'

This returns an error: `DataFrame`s are dictionaries of `Series`, which are the columns. Therefore, the above command gives an error, since we don't have a column called 'Albania'. To access the `DataFrame` rows which often have heterogeneous data types, so different methods such as the `.loc` method is used:

In [ ]:
countries.loc['Albania']

Note that what `.loc` returns is an indexed object in its own right and you can access elements within it using familiar index syntax:

So `.loc` returns a Series consisting of the entire row.

In [ ]:
countries.loc['Albania']['Area']

In [ ]:
# Can you think of a way to return the area of Albania without using .loc?
# Hint: Try putting the column index first.
# Can you slice along these indices as well?
countries['Area']['Albania']

So to summarise:

- Individual rows can be accessed using `.loc` with a key
- Individual columns can be accessed directly with a key

Sometimes it is helpful in data science projects to add a column to a `DataFrame` without assigning values to it:

So in those cases we use the `NaN` value in NumPy using `np.nan`

In [ ]:
countries['Debt-to-GDP Ratio'] = np.nan
countries

You can disregard the warning (if it triggers) about adding the column this way. My installation disables warnings so I won't get them.

You can also add columns to a `DataFrame` that do not have the same number of rows as the `DataFrame`:

So as we can see this new column "Debt-to-GDP-Ratio" has missing values but column could be created explicity using an index along with the values.

In [ ]:
debt = pd.Series([0.19, 2.36], index=['Russia', 'Japan'])
countries['Debt-to-GDP Ratio'] = debt
countries

You can use the `del` command to delete a column from a `DataFrame`:

As you can see Capital column of countries got deleted.

In [ ]:
del countries['Capital']
countries

In addition to their dictionary-like behavior, `DataFrames` also behave like two-dimensional arrays. For example, it can be useful at times when working with a `DataFrame` to transpose it:

Transpose involves exchanging the rows into columns and vice versa.

In [26]:
countries.T

                       Albania      France     Germany       Japan     Russia
Capital                 Tirana       Paris      Berlin       Tokyo     Moscow
Area                     28748      643801      357386      377972   17125200
Population             2937590    65429495    82408706   126922333  143910127
Population Density  102.184152  101.629999  230.587393  335.798242   8.403413

Again, note that `DataFrame` columns are `Series` and thus the data types must consistent, hence the upcasting to floating-point numbers. **If there had been strings in this `DataFrame`, everything would have been upcast to strings.** Therefore, we have to ensure that we use caution when transposing `DataFrame`s.

#### Creating a DataFrame from a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [27]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.964884  0.959214
b  0.598791  0.169144
c  0.173789  0.955099

## Manipulating data in pandas

A huge part of data science is manipulating data in order to analyze it. (One rule of thumb is that 80% of any data science project will be concerned with cleaning and organizing the data for the project.) So it makes sense to lear the tools that pandas provides for handling data in `Series` and especially `DataFrame`s. Because both of those data structures are ordered, let's first start by taking a closer look at what gives them their structure: the `Index`.

### Index objects in pandas

Both ``Series`` and ``DataFrame``s in pandas have explicit indices that enable you to reference and modify data in them. These indices are actually objects themselves. The ``Index`` object can be thought of as both an immutable array or as fixed-size set. 

It's worth the time to get to know the properties of the `Index` object. Let's return to an example from earlier in the Series section to examine these properties.

In [28]:
s1 = pd.Series([-0.5, 0.75, 1.0, -2], index=['a', 'b', 'c', 'd'])
ind1 = s1.index
ind1

Index(['a', 'b', 'c', 'd'], dtype='object')

The ``Index`` works a lot like an array. we have already seen how to use standard Python indexing notation to retrieve values or slices:

In [29]:
ind1[1]

'b'

In [30]:
ind1[::2]

Index(['a', 'c'], dtype='object')

In [31]:
ind1[1] = 0

TypeError: Index does not support mutable operations

But ``Index`` objects are immutable; you cannot be modified via the normal means.
Immuntability means that the object can not have it's value changed after it's first assigned.
This immutability is a good thing: it makes it safer to share indices between multiple ``Series`` or ``DataFrame``s without the potential for problems arising from inadvertent index modification which is when the index is accidentally changed causing unprovoked errors in the Series / DataFrame.

In addition to being array-like, a Index also behaves like a fixed-size set, including following many of the conventions used by Python's built-in ``set`` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way. Let's play around with this to see it in action.

In [37]:
ind2odd = pd.Index([1, 3, 5, 7, 9])
ind2prime = pd.Index([2, 3, 5, 7, 11])

In the code cell below, try out the intersection (`ind_odd & ind_prime`), union (`ind_odd | ind_prime`), and the symmetric difference (`ind_odd ^ ind_prime`) of `ind_odd` and `ind_prime`.

- The intersection is like an AND clause, finding the common elements
- The union is like an OR clause, finding all elements existing in either of the 2 indices
- The symmetric difference finds all elements from either of the 2 indices with the intersection subtracted from it.

In [38]:
print(ind2odd & ind2prime)
print(ind2odd | ind2prime)
print(ind2odd ^ ind2prime)

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

These operations may also be accessed via object methods, for example ``ind_odd.intersection(ind_prime)``. Below is a table listing some useful `Index` methods and properties.

| **Method**     | **Description**                                                                           |
|:---------------|:------------------------------------------------------------------------------------------|
| [`append`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html)       | Concatenate with additional `Index` objects, producing a new `Index`                      |
| [`diff`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html)         | Compute set difference as an Index                                                        |
| [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)         | Compute new `Index` by deleting passed values                                             |
| [`insert`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html)       | Compute new `Index` by inserting element at index `i`                                     |
| [`is_monotonic`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.is_monotonic.html) | Returns `True` if each element is greater than or equal to the previous element           |
| [`is_unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.is_unique.html)    | Returns `True` if the Index has no duplicate values                                       |
| [`isin`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html)         | Compute boolean array indicating whether each value is contained in the passed collection |
| [`unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)       | Compute the array of unique values in order of appearance                                         |

### Data Selection in Series

As a refresher, a ``Series`` object acts in many ways like both a one-dimensional `ndarray` and a standard Python dictionary.

Like a dictionary, the ``Series`` object provides a mapping from a collection of arbitrary keys to a collection of arbitrary values. Back to an old example we saw earlier `s2`:

In [39]:
s2 = pd.Series([-0.5, 0.75, 1.0, -2], index=['a', 'b', 'c', 'd'])
s2

a   -0.50
b    0.75
c    1.00
d   -2.00
dtype: float64

In [40]:
s2['b']

0.75

You can also examine the keys/indices and values using dictionary-like Python tools:

In [41]:
# Checking if key/index is present in Series

'a' in s2

True

In [42]:
# Getting all keys/indices, same as s2.index

s2.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [43]:
# List of all items in the series as list of a (key, value) pairs

list(s2.items())

[('a', -0.5), ('b', 0.75), ('c', 1.0), ('d', -2.0)]

As with dictionaries, you can extend a dictionary by assigning to a new key, you can extend a ``Series`` by assigning to a new index value:

In [44]:
s2['e'] = 1.25
s2

a   -0.50
b    0.75
c    1.00
d   -2.00
e    1.25
dtype: float64

#### Series as one-dimensional array

Because ``Series`` also provide array-style functionality, you can use the NumPy techniques like slices, masking, and fancy indexing:

In [45]:
# Slicing using the explicit index
s2['a':'c']

a   -0.50
b    0.75
c    1.00
dtype: float64

In [46]:
# Slicing using the implicit integer index
s2[0:2]

a   -0.50
b    0.75
dtype: float64

In [47]:
# Masking: Values which satisy the conditions are used to get the values themselves.
# Eg. Here, s2>-1 and s2<0.8 are only satisfied at index 'a' & index 'b', hence they are returned which is
# passed through as s2[['a','b']] and hence printing both
s2[(s2 > -1) & (s2 < 0.8)]

a   -0.50
b    0.75
dtype: float64

In [48]:
# Fancy indexing - List is passed to include mutiple unique indexes from Series.
s2[['a', 'e']]

a   -0.50
e    1.25
dtype: float64

One note to avoid confusion. When slicing with an explicit index (i.e., ``series_example2['a':'c']``), the final index is **included** in the slice; when slicing with an implicit index (i.e., ``series_example2[0:2]``), the final index is **excluded** from the slice. This is the point we discussed earlier.

#### Indexers: `loc` and `iloc`

A great thing about pandas is that you can use a lot different things for your explicit indices. A potentially confusing thing about pandas is that you can use a lot different things for your explicit indices, including integers. To avoid confusion between integer indices that you might supply and those implicit integer indices that pandas generates, pandas provides special *indexer* attributes that explicitly expose certain indexing schemes.

In simpler terms, you may index your series with \[1, 5, 10, 15, ...\] but pandas provides implicit indices for your series as \[0, 1, 2, 3, ...\] and the numbers can coincide and get confusing. Hence to prevent this pandas has a special technique.

(A technical note: These are not functional methods; they are attributes that expose a particular slicing interface to the data in the ``Series``.)

The ``loc`` attribute allows indexing and slicing that always references the explicit index:

In [49]:
s2.loc['a']

-0.5

In [50]:
s2.loc['a':'c']

a   -0.50
b    0.75
c    1.00
dtype: float64

The ``iloc`` attribute enables indexing and slicing using the implicit, Python-style index:

In [51]:
s2.iloc[0]

-0.5

In [52]:
s2.iloc[0:2]

a   -0.50
b    0.75
dtype: float64

A guiding principle of the Python language is the idea that "explicit is better than implicit." Professional code will generally use explicit indexing with ``loc`` and ``iloc`` and you should as well in order to make your code clean and readable.

### Data selection in DataFrames

``DataFrame``s also exhibit dual behavior, acting both like a two-dimensional `ndarray` and like a dictionary of ``Series``  sharing the same index.

#### DataFrame as dictionary of Series

Let's return to our earlier example of countries' areas and populations in order to examine `DataFrame`s as a dictionary of `Series`.

In [53]:
areas = pd.Series({'Albania': 28748,
                  'France': 643801,
                  'Germany': 357386,
                  'Japan': 377972,
                  'Russia': 17125200})
pops = pd.Series ({'Albania': 2937590,
                         'France': 65429495,
                         'Germany': 82408706,
                         'Russia': 143910127,
                         'Japan': 126922333})
countries = pd.DataFrame({'Area': areas, 'Population': pops})
countries

             Area  Population
Albania     28748     2937590
France     643801    65429495
Germany    357386    82408706
Japan      377972   126922333
Russia   17125200   143910127

You can access the individual ``Series`` that make up the columns of a ``DataFrame`` via dictionary-style indexing of the column name:

In [54]:
countries['Area']

Albania       28748
France       643801
Germany      357386
Japan        377972
Russia     17125200
Name: Area, dtype: int64

An you can use dictionary-style syntax can also be used to modify `DataFrame`s, such as by adding a new column:

In [55]:
countries['Population Density'] = countries['Population'] / countries['Area']
countries

             Area  Population  Population Density
Albania     28748     2937590          102.184152
France     643801    65429495          101.629999
Germany    357386    82408706          230.587393
Japan      377972   126922333          335.798242
Russia   17125200   143910127            8.403413

#### DataFrame as two-dimensional array

You can also think of ``DataFrame``s as two-dimensional arrays. You can examine the raw data in the `DataFrame`/data array using the ``values`` attribute:

In [56]:
countries.values

array([[2.87480000e+04, 2.93759000e+06, 1.02184152e+02],
       [6.43801000e+05, 6.54294950e+07, 1.01629999e+02],
       [3.57386000e+05, 8.24087060e+07, 2.30587393e+02],
       [3.77972000e+05, 1.26922333e+08, 3.35798242e+02],
       [1.71252000e+07, 1.43910127e+08, 8.40341292e+00]])

Viewed thsi way it makes sense that we can transpose the rows and columns of a `DataFrame` the same way we would an array:

In [57]:
countries.T

,Albania,France,Germany,Japan,Russia
Area,2.874800e+04,6.438010e+05,3.573860e+05,3.779720e+05,1.712520e+07
Population,2.937590e+06,6.542950e+07,8.240871e+07,1.269223e+08,1.439101e+08
Population Density,1.021842e+02,1.016300e+02,2.305874e+02,3.357982e+02,8.403413e+00

`DataFrame`s also uses the ``loc`` and ``iloc`` indexers. With ``iloc``, you can index the underlying array as if it were an `ndarray` but with the ``DataFrame`` index and column labels maintained in the result:

In [58]:
countries.iloc[:3, :2]

           Area  Population
Albania   28748     2937590
France   643801    65429495
Germany  357386    82408706

``loc`` also permits array-like slicing but using the explicit index and column names:

In [59]:
countries.loc[:'Germany', :'Population']

           Area  Population
Albania   28748     2937590
France   643801    65429495
Germany  357386    82408706

You can also use array-like techniques such as masking and fancing indexing with `loc`.

**IGNORE**

<!-- # Can you think of how to combine masking and fancy indexing in one line? -->
<!-- # Your masking could be somthing like countries['Population Density'] > 200 -->
<!-- # Your fancy indexing could be something like ['Population', 'Population Density'] -->
<!-- # Be sure to put the the masking and fancy indexing inside the square brackets: countries.loc[] -->
<!-- # countriesloc.[['Population', 'Population Density'], countries['Population Density'] > 200] -->

#### Indexing conventions

In practice in the world of data science (and pandas more generally), *indexing* refers to columns while *slicing* refers to rows:

In [60]:
countries['France':'Japan']

           Area  Population  Population Density
France   643801    65429495          101.629999
Germany  357386    82408706          230.587393
Japan    377972   126922333          335.798242

Such slices can also refer to rows by number rather than by index:

In [61]:
countries[1:3]

           Area  Population  Population Density
France   643801    65429495          101.629999
Germany  357386    82408706          230.587393

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [62]:
countries[countries['Population Density'] > 200]

           Area  Population  Population Density
Germany  357386    82408706          230.587393
Japan    377972   126922333          335.798242

These two conventions are syntactically similar to those on a NumPy array, and while these may not precisely fit the mold of the Pandas conventions, they are nevertheless quite useful in practice.

# Operating on Data in Pandas

As you begin to work in data science, operating on data is imperative. It is the very heart of data science. Another aspect of pandas that makes it a compelling tool for many data scientists is pandas' capability to perform efficient element-wise operations on data. pandas builds on ufuncs from NumPy to supply theses capabilities and then extends them to provide additional power for data manipulation:
 - For unary operations (such as negation and trigonometric functions), ufuncs in pandas **preserve index and column labels** in the output.
 - For binary operations (such as addition and multiplication), pandas automatically **aligns indices** when passing objects to  ufuncs.

These critical features of ufuncs in pandas mean that data retains its context when operated on and, more importantly still, drastically helps reduce errors when you combine data from multiple sources.

## Index Preservation

pandas is explicitly designed to work with NumPy. As a results, all NumPy ufuncs will work on Pandas ``Series`` and ``DataFrame`` objects.

We can see this more clearly if we create a simple ``Series`` and ``DataFrame`` of random numbers on which to operate.

In [63]:
rng = np.random.RandomState(42)
ser_example = pd.Series(rng.randint(0, 10, 4))
ser_example

0    6
1    3
2    7
3    4
dtype: int32

Did you notice the NumPy function we used with the variable `rng`? By specifying a seed for the random-number generator, you get the same result each time. This can be useful trick when you need to produce psuedo-random output that also needs to be replicatable by others. (Go ahead and re-run the code cell above a couple of times to convince yourself that it produces the same output each time.)

In [64]:
df_example = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df_example

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

Let's apply a ufunc to our example `Series`:

In [65]:
np.exp(ser_example)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

The same thing happens with a slightly more complex operation on our example `DataFrame`:

In [66]:
np.cos(df_example * np.pi / 4)

              A             B             C             D
0 -1.836970e-16  7.071068e-01  6.123234e-17 -1.836970e-16
1  7.071068e-01 -1.000000e+00 -7.071068e-01  7.071068e-01
2  7.071068e-01  6.123234e-17 -7.071068e-01 -1.000000e+00

Note that you can use all of the ufuncs.

## Index alignment

As mentioned above, when you perform a binary operation on two ``Series`` or ``DataFrame`` objects, pandas will align indices in the process of performing the operation. This is essential when working with incomplete data (and data is usually incomplete), but it is helpful to see this in action to better understand it.

### Index alignment with Series

For our first example, suppose we are combining two different data sources and find only the top five countries by *area* and the top five countries by *population*:

In [67]:
areas = pd.Series({'Russia': 17075400, 'Canada':  9984670,
                  'USA': 9826675, 'China': 9598094, 
                  'Brazil': 8514877}, name='area')
pops = pd.Series({'China': 1409517397, 'India': 1339180127,
                        'USA': 324459463, 'Indonesia': 322179605, 
                        'Brazil': 207652865}, name='population')

In [68]:
# Now divide these to compute the population density
pds = pops.divide(areas)
pds

Brazil        24.387066
Canada              NaN
China        146.853885
India               NaN
Indonesia           NaN
Russia              NaN
USA           33.018235
dtype: float64

Your resulting array contains the **union** of indices of the two input arrays: seven countries in total. All of the countries in the array without an entry (because they lacked either area data or population data) are marked with the now familiar ``NaN``, or "Not a Number," designation.

Index matching works the same way built-in Python arithmetic expressions and missing values are filled in with `NaN`s. You can see this clearly by adding two `Series` that are slightly misaligned in their indices:

In [69]:
series1 = pd.Series([2, 4, 6], index=[0, 1, 2])
series2 = pd.Series([3, 5, 7], index=[1, 2, 3])
series1 + series2

0     NaN
1     7.0
2    11.0
3     NaN
dtype: float64

`NaN` values are not always convenient to work with; `NaN` combined with any other values results in `NaN`, which can be a pain, particulalry if you are combining multiple data sources with missing values. To help with this, pandas allows you to specify a default value to use for missing values in the operation. For example, calling `series1.add(series2)` is equivalent to calling `series1 + series2`, but you can supply the fill value:

In [70]:
series1.add(series2, fill_value=0)

0     2.0
1     7.0
2    11.0
3     7.0
dtype: float64

Much better!

### Index alignment with DataFrames

The same kind of alignment takes place in both dimension (columns and indices) when you perform operations on ``DataFrame``s.

In [71]:
df1 = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                   columns=list('AB'))
df1

   A   B
0  1  11
1  5   1

In [72]:
df2 = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                   columns=list('BAC'))
df2

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In this example, let's fill the missing values with the mean of all values in `df1` (computed by first stacking the rows of `df1`):

In [74]:
fill = df1.stack().mean()
df1.add(df2, fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

This table lists Python operators and their equivalent pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Operations between DataFrames and Series

Index and column alignment gets maintained in operations between a `DataFrame` and a `Series` as well. To see this, consider a common operation in data science, wherein we find the difference of a `DataFrame` and one of its rows. Because pandas inherits ufuncs from NumPy, pandas will compute the difference row-wise by default:

In [75]:
df3 = pd.DataFrame(rng.randint(10, size=(3, 4)), columns=list('WXYZ'))
df3

   W  X  Y  Z
0  3  8  2  4
1  2  6  4  8
2  6  1  3  8

In [76]:
df3 - df3.iloc[0]

   W  X  Y  Z
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

But what if you need to operate column-wise? You can do this by using object methodsand specifying the ``axis`` keyword.

In [77]:
df3.subtract(df3['X'], axis=0)

   W  X  Y  Z
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

And when you do operations between `DataFrame`s and `Series` operations, you still get automatic index alignment:

In [78]:
halfrow = df3.iloc[0, ::2]
halfrow

W    3
Y    2
Name: 0, dtype: int32

Note that the output from that operation was transposed. That was so that we can subtract it from the `DataFrame`:

In [79]:
df3 - halfrow

     W   X    Y   Z
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN

Remember, pandas preserves and aligns indices and columns so preserve data context. 

So, with this we come to the end of today's workshop session. We will move towards a doubt clearing / question & answer section. A form link has been shared on the screen right now. Kindly fill out the form and you will recieve a **Microsoft** Student Learn Ambassador signed certificate. Thank you so much for joining in to the session. Feel free to unmute yourself and ask anything you want to related to today's session!

# Questions & Answers

Q1) What is reindexing in Pandas?

A1) Reindexing is used to conform DataFrame to a new index with optional filling logic. It places NA/NaN in that location where the values are not present in the previous index. It returns a new object unless the new index is produced as equivalent to the current one, and the value of copy becomes False. It is used to change the index of the rows and columns of the DataFrame.

Q2) Can you explain the different types of data structures in Pandas?

A2) As we discussed earlier, Pandas provides two data structures, which are supported by the pandas library, Series, and DataFrames. Both of these data structures are built on top of the NumPy. A Series is a one-dimensional data structure, whereas a DataFrame is the two-dimensional data structure.

Q3) How can I rename the index of a DataFrame?

A3) You can use the .rename method to give different values to the index values of DataFrame. This will also work for renaming the columns of the DataFrame.

Q4) How can we sort the DataFrame?

A4) We can efficiently perform sorting in the DataFrame through different kinds:

    By label
    By Actual value

By label

The DataFrame can be sorted by using the sort_index() method. It can be done by passing the axis arguments and the order of sorting. The sorting is done on row labels in ascending order by default.

By Actual Value

It is another kind through which sorting can be performed in the DataFrame. Like index sorting, sort_values() is a method for sorting the values.

It also provides a feature in which we can specify the column name of the DataFrame with which values are to be sorted. It is done by passing the 'by' argument.

Q5) What is Time Series in Pandas?

A5) The Time series data is defined as an essential source for information that provides a strategy that is used in various businesses. From a conventional finance industry to the education industry, it consists of a lot of details about the time. Time series forecasting is the machine learning modeling that deals with the Time Series data for predicting future values through Time Series modeling.

Q6)Can you explain mutiple indexing?

A6) Multiple indexing is defined as essential indexing because it deals with data analysis and manipulation, especially for working with higher dimensional data. It also enables us to store and manipulate data with the arbitrary number of dimensions in lower-dimensional data structures like Series and DataFrame.

Q7) What is GroupBy() in pandas?

A7) In Pandas, groupby() function allows us to rearrange the data by utilizing them on real-world data sets. Its primary task is to split the data into various groups. These groups are categorized based on some criteria. The objects can be divided from any of their axes.